/* Univeral */

html {
    background-color: rgb(62, 176, 221);
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.main {
    background-color: rgb(62, 176, 221);
}

.header {
    background-color: rgb(62, 176, 221);
}

.title {
    text-align: center;
    font-size: 4rem;
    margin: 0;
}

.inputDiv {
    font-size: 3rem;
    text-align: center;
    padding-top: 20px;
}

.addGameInput {
    height: 25px;
    font-size: 1rem;
}

.addGameBtn {
    height: 45px;
    border-radius: 25px;
    font-size: 1.5rem;
    
}

.addedGameList {
    font-size: 2rem;
}

.item {
    padding: 5px;
    background-color: gray;
    margin: 10px;
    border-radius: 10px;
    padding: 0 10px;
    box-shadow: 5px 5px 5px black;
    
}



.gameList {
    display: flex;
    justify-content: center;
    text-align: center;
}

.list {
    font-size: 2rem;
    margin: 50px;
    display: block;
    text-align: center;
    
}



.generateBtnDiv {
    text-align: center;
    padding-top: 50px;
}

.generateBtn {
    height: 150px;
    width: 200px;
    border-radius: 25%;
    font-size: 2.5rem;
}